APP_NAME=agent-server
APP_ENV=local
DEBUG=true

SERVER_HOST=127.0.0.1
SERVER_PORT=8002

INTERNAL_API_TOKEN=dev-internal-token

LLM_CREDENTIALS_LIST=credential_1,credential_2

LLM_STRONG_MODEL=GigaChat-Pro
LLM_WEAK_MODEL=GigaChat
LLM_GIGACHAT_SCOPE=GIGACHAT_API_PERS
LLM_GIGACHAT_VERIFY_SSL_CERTS=false

LANGFUSE_ENABLED=true
LANGFUSE_PROJECT_NAME=planner-agent
LANGFUSE_ENVIRONMENT=local

LANGFUSE_SECRET_KEY=...
LANGFUSE_PUBLIC_KEY=...
LANGFUSE_BASE_URL="https://cloud.langfuse.com"